@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
}

.card .card-body {
  padding: 0;
}

#menu #menu_top {
  background-color: #1f45a8;
}

#menu #menu_top img.menu_logo {
  height: 50px;
}

#menu #menu_top ul.menu-search {
  display: block;
  height: 49px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_top ul.menu-search li input {
  height: 49px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: none;
}

#menu #menu_top ul.menu-search li a {
  padding: 15px;
  background-color: #ff9c33;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 49px;
  float: left;
}

#menu #menu_bottom {
  background-color: green;
}

#menu #menu_bottom ul.main_menu {
  display: block;
}

#menu #menu_bottom ul.main_menu li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

#menu #menu_bottom ul.main_menu li i {
  color: white;
  font-size: 16px;
  padding-right: 6px;
}

#menu #menu_bottom ul.main_menu li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#menu #menu_bottom ul.main_menu li:hover {
  background-color: rgba(115, 217, 220, 0.97);
}

#menu #menu_bottom ul.main_menu li.has-item-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: rgba(115, 217, 220, 0.97);
  top: 100%;
  left: 0;
  z-index: 9;
  width: 160%;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li {
  display: block;
  padding-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li:hover {
  padding-left: 20px;
}

#menu #menu_bottom ul.main_menu li.has-item-down:hover > ul {
  display: block;
  opacity: 1;
}

#h_home_header {
  margin-bottom: 60px;
}

#h_home_header h3.title {
  font-size: 60px;
  padding-bottom: 10px;
}

#h_home_header p.description {
  line-height: 1.5;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}

#h_product #h_home_list_product a {
  position: relative;
  margin-bottom: 20px;
  height: 350px;
  display: block;
}

#h_product #h_home_list_product a img.h_home_product_image {
  height: 350px;
}

#h_product #h_home_list_product a .h_home_info {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#h_product #h_home_list_product a .h_home_info h4 {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

#h_product #h_home_list_product a .h_home_info span {
  display: none;
  border: 1px solid white;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

#h_product #h_home_list_product a::after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  content: '';
  background-color: black;
  height: 350px;
  z-index: 1;
  width: 100%;
  bottom: 0;
  opacity: 0.3;
}

#h_product #h_home_list_product a:hover::after {
  opacity: 0.6;
}

#h_product #h_home_list_product a:hover .h_home_info span {
  display: block;
}

#h_plan #h_plan_list .one-item img.h_home_plan_icon {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

#h_plan #h_plan_list .one-item h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 20px;
}

#h_plan #h_plan_list .one-item p {
  line-height: 1.5;
}

#h_plan #h_plan_more {
  margin-top: 35px;
}

#h_plan #h_plan_more a {
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  border: 1px solid black;
  padding: 20px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#h_plan #h_plan_more a:hover {
  background-color: #cccccc;
}

#h_news {
  margin-top: 35px;
  background-image: url(../images/temps/home/h_news_one_bg.jpg);
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
  background-repeat: no-repeat;
}

#h_news #h_news_info .h_news_wrap_img {
  background-color: white;
  padding: 10px;
  position: relative;
}

#h_news #h_news_info .h_news_wrap_img img.h_home_news_tips {
  position: absolute;
  z-index: 1;
  top: -16px;
  width: 50%;
  left: -58px;
}

#h_news #h_news_info .h_news_content h4 {
  font-size: 31px;
  color: #222;
}

#h_news #h_news_info .h_news_content p {
  line-height: 1.5;
  margin-top: 20px;
}

#h_news #h_news_info .h_news_content a.h_news_read_more {
  margin-top: 20px;
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0 2px 3px 2px;
  border-bottom: 2px solid black;
  width: 20%;
  text-align: center;
  display: block;
}

#h_news #h_news_info .h_news_content a.h_news_read_more:hover {
  color: lightblue;
}

#h_example {
  margin-top: 60px;
}

#h_example #h_example_list .one-item a {
  height: 162px;
  display: block;
}

#h_example #h_example_list .one-item a::after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  content: '';
  background-color: white;
  height: 162px;
  z-index: 1;
  width: 100%;
  bottom: 0;
  opacity: 0;
}

#h_example #h_example_list .one-item a:hover::after {
  opacity: 0.4;
}

#h_register #h_register_left, #h_register #h_register_right {
  padding-top: 20px;
  padding-bottom: 20px;
}

#h_register #h_register_left {
  background-color: #f0f0f0;
}

#h_register #h_register_left h3.title {
  font-size: 20px;
  text-align: center;
}

#h_register #h_register_left p.description {
  line-height: 1;
  font-size: 14px;
  margin-bottom: 10px;
}

#h_register #h_register_left ul {
  padding-left: 20px;
  list-style: none;
}

#h_register #h_register_left ul li {
  line-height: 1.5;
}

#h_register #h_register_left ul li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\F00C';
  font-weight: 600;
  margin-right: 5px;
}

#h_register #h_register_right {
  background-color: #dbdbdb;
}

#h_register #h_register_right p.description {
  margin-bottom: 20px;
}

#h_register #h_register_right input {
  margin-bottom: 10px;
  padding: 5%;
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
  width: 100%;
}

#h_register #h_register_right a.h_register_submit {
  display: block;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 50%;
  border: 1px solid #333333;
  color: black;
  float: right;
}

#h_register #h_register_right a.h_register_submit:hover {
  background-color: #f1f1f1;
}

#c_list {
  margin-top: 20px;
}

#c_list hr {
  border: none;
  height: 50px;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
}

#c_list h1.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #8c8c8c;
}

#c_list h1.title span.hightlight {
  color: #3a3a3a;
  font-weight: 900;
}

#c_list p.description {
  text-align: center;
  font-size: 25px;
}

#c_list #c_list_info {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#c_list #c_list_info .one-item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#c_list #c_list_info .one-item .icon-item {
  background-color: #ececec;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#c_list #c_list_info .one-item .icon-item i {
  color: #807f7e;
  font-size: 30px;
}

#c_list #c_list_info .one-item .icon-item:hover {
  background-color: #323233;
}

#c_list #c_list_info .one-item .icon-item:hover i {
  color: white;
  font-size: 38px;
}

#c_list #c_list_info .one-item h4.name-item {
  text-align: center;
  text-transform: uppercase;
}

#c_list #c_list_info .one-item:hover h4.name-item {
  font-weight: bold;
}

#c_list #c_list_info .owl-carousel {
  position: relative;
}

#c_list #c_list_info .owl-carousel .owl-item img {
  height: 150px;
}

#c_list #c_list_info .owl-carousel .owl-item img:hover {
  cursor: pointer;
}

#c_list #c_list_info .owl-theme .owl-nav [class*='owl-'] {
  background-color: #fff;
  color: #DC0000;
  top: 0;
  margin: 0;
  border-radius: 0;
  opacity: 0.7;
}

#c_list #c_list_info .owl-prev, #c_list #c_list_info .owl-next {
  position: absolute;
}

#c_list #c_list_info .owl-next {
  right: 0;
}

#c_list #c_list_info .owl-theme .owl-nav [class*='owl-']:hover {
  opacity: 1;
  background-color: #fff;
}

#c_list #c_list_info .owl-theme .owl-nav [class*='owl-'] i {
  font-size: 46px;
}

#c_list #c_list_info .uk-thumbnail {
  border-radius: 0;
}

#c_list #c_list_info .owl-carousel {
  margin: 3px 0;
}

#c_list #c_list_info .owl-carousel .owl-nav .owl-prev {
  left: -50px;
  right: auto;
  top: -33%;
}

#c_list #c_list_info .owl-carousel .owl-nav .owl-next {
  top: -33%;
}

#c_list #c_list_item {
  margin-top: 40px;
  margin-bottom: 40px;
}

#c_list #c_list_item h4.main_title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#c_list #c_list_item a {
  color: #727272;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#c_list #c_list_item a .one-item h4.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#c_list #c_list_item a:hover {
  color: #ccc;
}

#d_category_info img.d_category_info_img {
  height: 500px;
}

#d_category_info .content {
  margin-bottom: 40px;
  margin-top: 40px;
}

#d_category_info .content h1.title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 36px;
}

#d_category_info .content p.description {
  line-height: 1.5;
}

#d_category_info .collection {
  margin-bottom: 20px;
}

#d_category_info .collection img.d_category_collection {
  height: auto;
}

#d_category_info .collection h4.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  .fancybox-thumbs ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
}

#footer {
  position: relative;
  z-index: unset;
  background-color: #125fb7;
  background-size: cover;
  background-repeat: no-repeat;
}

#footer a {
  color: white;
}

#footer .footer__jumpTop > a {
  font-size: 30px;
  line-height: 1;
  background: #125fb7;
  height: 106px;
  left: 50%;
  margin: 0 0 0 -53px;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: -40px;
  width: 106px;
  border-radius: 50%;
}

#footer .footer__jumpTop > a .fa {
  color: white;
  padding-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#footer #main-footer {
  margin-top: 20px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer #main-footer #main-footer-left .logo img {
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
}

#footer #main-footer #main-footer-left .footer-info ul li {
  color: white;
  line-height: 2.5;
}

#footer #main-footer #main-footer-left .footer-info ul li span {
  font-weight: bold;
}

#footer #main-footer #main-footer-left .footer-info ul li i {
  margin-right: 20px;
  font-size: 25px;
}

#footer #main-footer #main-footer-left .footer-info ul li p {
  font-style: italic;
}

#footer #main-footer #main-footer-right {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: right;
}

@media screen and (max-width: 768px) {
  #footer {
    z-index: unset;
  }
  #footer .footer__jumpTop > a {
    z-index: -1;
  }
  #footer #main-footer {
    display: block;
  }
}
